/* Loading stuff */

html {
	-webkit-font-smoothing: antialiased;
}

body.loading {
	background-color: #F8CA00;
}

#header {
	text-align: center;
}

#header .logo {
	font-family: 'Montserrat';
	font-weight: 700;
	color: #000;
	font-size: 5.5em;
}

.loading-percentage {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	color: #000;
}

/* Loading spinner */
.spinner {
  margin: 100px auto;
  width: 100px;
  height: 100px;
  position: relative;
  text-align: center;
  
  -webkit-animation: rotate 2.0s infinite linear;
  animation: rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #000;
  border-radius: 100%;
  
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0px;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/* Initial animation of header elements */
.loading .logo,
.loading .spinner-container,
.loading .loading-percentage {
	opacity: 1;
	-webkit-animation: animInitialHeader 1s cubic-bezier(0.7,0,0.3,1) both;
	animation: animInitialHeader 1s cubic-bezier(0.7,0,0.3,1) both;
}

.loading .spinner-container {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.loading .loading-percentage {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

@-webkit-keyframes animInitialHeader {
	from { opacity: 0; -webkit-transform: translate3d(0px, 800px, 0); }
	to { opacity: 1; -webkit-transform: translate3d(0px, 200px, 0); }
}

/* @keyframes animInitialHeader {
	from { opacity: 0; -webkit-transform: translate3d(0,400px,0); transform: translate3d(0,400px,0); }
} */

/* After initial preload */
.loaded #header .logo,
.loaded .spinner-container {
	opacity: 1;
}

.loaded .logo {
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0;
	-webkit-animation: animLoadedLogo 1s cubic-bezier(0.7,0,0.3,1) forwards;
	animation: animLoadedLogo 1s cubic-bezier(0.7,0,0.3,1) forwards;
}

@-webkit-keyframes animLoadedLogo {
	to { -webkit-transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.65,0.65,1); }
}

@keyframes animLoadedLogo {
	to { -webkit-transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.65,0.65,1); transform: translate3d(0,100%,0) translate3d(0,50px,0) scale3d(0.65,0.65,1); }
}

.loaded .spinner-container,
.loaded .loading-percentage {
	-webkit-animation: animLoadedLoader 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
	animation: animLoadedLoader 0.5s cubic-bezier(0.7,0,0.3,1) forwards;
}

@-webkit-keyframes animLoadedLoader {
	to { opacity: 0; -webkit-transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); }
}

@keyframes animLoadedLoader {
	to { opacity: 0; -webkit-transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); transform: translate3d(0,-100%,0) scale3d(0.3,0.3,1); }
}

/* Header animation when loading finishes */
.loaded #header .logo {
	-webkit-animation: animLoadedHeader 1s cubic-bezier(0.7,0,0.3,1) forwards;
	animation: animLoadedHeader 1s cubic-bezier(0.7,0,0.3,1) forwards;
}

@-webkit-keyframes animLoadedHeader {
	to { -webkit-transform: translate3d(0,100%,0); }
}

@keyframes animLoadedHeader {
	to { -webkit-transform: translate3d(0,100%,0); transform: translate3d(0,-100%,0); }
}

/* Content animations */
.loaded #main-content {
	-webkit-animation: animLoadedContent 1s cubic-bezier(0.7,0,0.3,1) both;
	animation: animLoadedContent 1s cubic-bezier(0.7,0,0.3,1) both;
}

.loaded #main-content {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

@-webkit-keyframes animLoadedContent {
	from { opacity: 0; -webkit-transform: translate3d(0,200px,0); }
}

@keyframes animLoadedContent {
	from { opacity: 0; -webkit-transform: translate3d(0,200px,0); transform: translate3d(0,200px,0); }
}

/* Posts */
#posts { margin: 30px auto 0; }
.post {
	margin: 0 0 50px;
	text-align: center;
	width: 280px;
}
.post.cs2 { width: 610px; }
.post img { width: 100%; }



/* Large desktop */

@media (min-width: 1200px) {
	.container > #posts .post { width: 255px; }
	.container > #posts .post.cs2 { width: 560px; }
}
 


/* Portrait tablet to landscape and desktop */

@media (min-width: 768px) and (max-width: 979px) {
	.container-fluid > #posts .post { width: 280px; }
	.container-fluid > #posts .post.cs2 { width: 610px; }
	.container > #posts .post { width: 337px; }
	.container > #posts .post.cs2 { width: 100%; }
}
 


/* Landscape phone to portrait tablet */

@media (max-width: 767px) {
	body { padding: 50px 20px; }
	.post, .post.cs2 { width: 100%; }
}