---
---
@import 'fonts';
@import 'foundation';
@import 'variables';
@import 'utilities';
@import 'mixins';

@import 'icons';
@import 'responsive-device';

html {
	/* Typography related rules */
	text-rendering: optimizeLegibility;
	-moz-font-feature-settings: "kern=0";
	-ms-font-feature-settings: "kern" 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	-webkit-appearance: none;

	font-size: 16px;
}

body {
	font-family: $font-family-serif;
	font-size: 100%;
	line-height: 1.63;
	background-color: $background-color;
	color: $body-color;
	border-top: 30px solid $top-bar-color;
	min-height: 100vh;
}

main {
	margin-top: 3.375rem;
}

.link {
	text-decoration: underline;
}

a {
	color: $body-color;
	display: inline;
}

// TODO: I like this effect, but I don't like how it flickers when the user is too close to the edge of the link.
// Is there a better way to do it?
a:hover {
	position: relative;
	top: 2px;
}

em,
strong {
	font-style: normal;
	font-weight: normal;
}

.wrapper {
	width: 100%;
	padding: 0 0.5em 0 1em;
}

.wrapper.wrapper--noSpacing {
	padding: 0 0 0 0 !important;
}

section.intro > a {
	display: inline-block;
	margin-top: 2.25rem;
}

section.intro header {

	position: relative;

	// gotta update this to be more general because the tag might change depending on the page.
	.name {
		font-family: $font-family-monospace;
		font-weight: normal;
		line-height: 0.8em;
		font-size: 1rem;
		text-decoration: underline;
		white-space: nowrap;
		-webkit-transition: font-size 0.3s ease;

		position: relative;
		z-index: 2;
	}

	// used to be an h2 tag, but might change depending on the page so using classes.
	.name + .title {
		text-transform: lowercase;
		line-height: 1.2em;

		// to display above the shape.
		position: relative;
		z-index: 2;

		font-size: 1.5em;
	}
}

/* Possibly gotta update this be more general because tags might change in the future. */
.title {
	font-size: 1.5rem;
	line-height: 1.64;
	font-weight: normal;
	font-family: $font-family-serif;
	word-break: break-word;
	word-wrap: break-word;
}

nav {

	margin-top: -0.8rem;
	max-width: 100%;

	li {
		position: relative;
		display: block;
		float: left;
		margin-right: 2rem;
	}

	li:nth-child(3n),
	li.home-link {
		clear: left;
	}

	li.home-link,
	li.home-link > a {
		display: inline-block;
		width: 1rem;
		height: 1rem;
		min-width: 0;
	}

	li.home-link {
		margin-top: 0.4rem;
	}

	li.home-link > a {
		background-color: $logo-color;
	}

	li.active {
		color: $logo-color;
	}

	li a {
		text-transform: lowercase;
		text-decoration: none;
	}
}

nav a,
.breadcrumbs > span > span > span,
.breadcrumbs span > a,
footer .social-links .service,
footer .email > a {
	font-size: 1em;
	line-height: 1.6em;
	font-weight: normal;
	font-family: $font-family-monospace;
	text-align: left;
	font-weight: 300;
}

footer {

	padding-top: 0.5em;
	margin-bottom: 2em;

	margin-top: 2.25rem;

	.email {
		margin-bottom: 0.25em;
	}

	// TODO: Gonna have to fix this soon. Just make it bold?
	.email > a {
		line-height: 2.2em;
		font-weight: 500;
	}

	.social-links > li {
		display: inline-block;
		margin-right: 0.5em;
	}

	.social-links i {
		font-size: 1.2em;
	}
}

/* Button styles */
.button {
	background: none;
	border: none;
	outline: none;
	font-family: $font-family-monospace;
	font-size: 1rem;
	// font-size: 0.85em;
	width: 50%;
	display: block;
	font-weight: normal;
	margin-top: 1em;
	max-width: 200px;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	text-transform: lowercase;
}

a.button {
	text-align: center;
}

.button.button--yellow {
	background-color: $yellow-color;
	border-bottom: 3px solid $yellow-color-darker;
}

.button.button--yellow:hover {
	background-color: $yellow-color-lighter;
	border-bottom: 3px solid $yellow-color-darker-lighter;
}

.button.button--yellow:active {
	border-top: 3px solid $yellow-color-lighter;
	border-bottom: none;
}

.button.button--red {
	background-color: $red-color;
}

.button.button--cyan {
	background-color: $glasses-cyan;
	border-bottom: 3px solid $glasses-cyan-darker;
}
.button.button--cyan:hover {
	background-color: $glasses-cyan-lighter;
	border-bottom: 3px solid $glasses-cyan;
}
.button.button--cyan:active {
	border-top: 3px solid $glasses-cyan-lighter;
	border-bottom: none;
}

.button.button--blue {
	background-color: $volunteer-blue-color;
	border-bottom: 3px solid $volunteer-blue-darkest;
}

.button.button--pink {
	background-color: $pink-color;
	border-bottom: 3px solid $pink-color-darker;
}

.button.button--pink:hover {
	background-color: $pink-color-lighter;
	border-bottom: 3px solid $pink-color;
}

.button.button--pink:active {
	border-top: 3px solid $pink-color-lighter;
	border-bottom: none;
}

/* Chevron */
.chevron {
	display: inline-block; // this should be on a span tag or i tag which are already display: inline;
	position: relative;
}

.chevron:before,
.chevron:after {
	content: " ";
	display: block;
	width: 1px;
	height: 7px;

	background-color: rgb(0, 0, 0); // turn this into a variable?
}

.chevron:before {
    @include rotate(45);
}

.chevron:after {
	@include rotate(137);
    margin-top: -3px;
}

.chevron.chevron--direction-right {
	-webkit-transform:scaleX(-1);
    -moz-transform:scaleX(-1);
    -ms-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
}

/* Breadcrumbs */
.breadcrumbs {

	.chevron {
		margin-left: 5px;
		margin-right: 5px;
	}

	> span:last-child > span > span { // the last element.
		// TODO: note that the same color appears in home.scss
		color: rgb(168, 168, 168); // make this a variable
	}
}

/* Description Title */

.descriptionTitle {
	font-size: 1.1rem;
	line-height: 1.64;
	font-weight: normal;
	font-family: $font-family-serif;
	word-break: break-word;
	word-wrap: break-word;
}

.descriptionTitle.descriptionTitle--lowKey {
	color: $low-key-color;
}

.descriptionTitle.descriptionTitle--articles {
	color: $primary-header-color;
}

.descriptionTitle.descriptionTitle--helpYou {
	color: $secondary-header-color;
}

.descriptionTitle.descriptionTitle--spaceDown {
	margin-bottom: 0.5rem;
}

// General media queries that should apply to every page for consistency.
@media screen and (min-width: 30em) {
	.wrapper {
		// padding: 0 7.5%;
	}
}

@media screen and (min-width: 48.4375em) { // time for a readability bump.
	body {
		font-size: 118%;
	}

	header:before {
		width: 130px;
		height: 130px;
	}
}
// 1100px
@media screen and (min-width: 68.75em) { // I have to change up .wrapper here somehow to make it not stretch anymore.
	.wrapper {
		padding: 0;
		margin: 0 auto;
		max-width: 960px;
	}
}

// Specific styles for pages
.home-page {
	@import 'home';
}

.articles-page {
	@import 'articles';
}

.work-page {
	@import 'work';
}

.blog-post-page {
	@import 'blog-post';
}

.work-item-page {
	@import 'work-item';

	&.responsive-photography { // a different theme.
		@import 'work-item-responsive-photography';
	}

	&.glasses {
		@import 'work-item-glasses-com';
	}
}

.contact-page {
	@import 'contact';
}

.about-page {
	@import 'about';
}

@media screen and (min-width: 25.3125rem) { // 405px @ 16

	nav {

		li:nth-child(3n) {
			clear: none;
		}

		li:nth-child(4n) {
			clear: left;
		}
	}
}

@media screen and (min-width: 31.25rem) { // 500px @ 16

	.wrapper {
		padding: 0 1rem 0 1rem;
	}
}

@media screen and (min-width: 37.5rem) { // 600px @ 16

	html {
		font-size: 19px;
	}

	body {
		border: 30px solid $top-bar-color;
	}

	nav {

		position: static;
		width: 100%;
		margin-top: -0.8rem;

		ul {
			position: relative;
		}

		li {
			margin-right: 0;
			margin-left: 2.8rem;
		}

		li:nth-child(4n) {
			clear: none;
		}

		li.home-link {
			margin-left: 0;
			margin-top: 0.2rem;
			position: absolute;
			left: 0;
		}
	}

	main {
		margin-top: 5.0625rem;
	}
}

@media screen and (min-width: 38.75em) {

	a.button {
		padding-top: 0.8em;
	}

	nav {
		li.active:before {
			bottom: -0.8em;
		}
	}
}

@media screen and (min-width: 51.25em) {

	a.button {
		padding-top: 0.7em;
	}

	nav {
		li.active:before {
			bottom: -0.75em;
		}
	}

	body {
		font-size: 110%;
	}
}