@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url(http://themes.googleusercontent.com/static/fonts/montserrat/v4/IQHow_FEYlDC4Gzy_m8fcvEr6Hm6RMS0v1dtXsGir4g.ttf) format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/ODelI1aHBYDBqgeIAH2zlNzbP97U9sKh0jjxbPbfOKg.ttf) format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGNNE-IuDiR70wI4zXaKqWCM.ttf) format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGLsbIrGiHa6JIepkyt5c0A0.ttf) format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  src: local('Source Sans Pro Black'), local('SourceSansPro-Black'), url(http://themes.googleusercontent.com/static/fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGBPPOa1q11iOmmM9mDHHHX4.ttf) format('truetype');
}

/*!
 * Bootstrap v3.1.1 (http://getbootstrap.com)
 * Copyright 2011-2014 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/*! normalize.css v3.0.0 | MIT License | git.io/normalize */

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

section {
  display: block;
}

video {
  display: inline-block;
  vertical-align: baseline;
}

a {
  background: 0 0;
}

a:active,
a:hover {
  outline: 0;
}

strong {
  font-weight: 700;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

img {
  border: 0;
}

button,
input,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button {
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

@media print {
  * {
    text-shadow: none!important;
    color: #000!important;
    background: transparent!important;
    box-shadow: none!important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  a[href^="#"]:after {
    content: "";
  }

  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100%!important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  select {
    background: #fff!important;
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:before,
:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #428bca;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #2a6496;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

img {
  vertical-align: middle;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h1,
h2,
h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h4,
h5,
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

p {
  margin: 0 0 10px;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
}

.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}

.list-inline>li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width:768px) {
  .container {
    width: 750px;
  }
}

@media (min-width:992px) {
  .container {
    width: 970px;
  }
}

@media (min-width:1200px) {
  .container {
    width: 1170px;
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col-md-2,
.col-md-4,
.col-md-5,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-md-7,
.col-xs-8,
.col-xs-12,
.col-sm-12,
.col-md-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-8,
.col-xs-12 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

.col-xs-offset-0 {
  margin-left: 0;
}

@media (min-width:768px) {
  .col-sm-6,
  .col-sm-12 {
    float: left;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
}

@media (min-width:992px) {
  .col-md-2,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-12 {
    float: left;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-7 {
    width: 58.33333333%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-md-2 {
    width: 16.66666667%;
  }

  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-md-offset-0 {
    margin-left: 0;
  }
}

@media (min-width:1200px) {
  .col-lg-6 {
    float: left;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-0 {
    margin-left: 0;
  }
}

label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 700;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #999;
}

textarea.form-control {
  height: auto;
}

.form-group {
  margin-bottom: 15px;
}

.form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn:focus,
.btn:active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus {
  color: #333;
  text-decoration: none;
}

.btn:active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(../fonts/glyphicons-halflings-regular.eot);
  src: url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),url(../fonts/glyphicons-halflings-regular.woff) format('woff'),url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'),url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg');
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }

  to {
    background-position: 0 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }

  to {
    background-position: 0 0;
  }
}

.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after {
  content: " ";
  display: table;
}

.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after {
  clear: both;
}

@-ms-viewport {
  width: device-width;
}

@media (max-width:767px) {
  .hidden-xs {
    display: none!important;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .hidden-sm {
    display: none!important;
  }
}

@media (min-width:992px) and (max-width:1199px) {
  .hidden-md {
    display: none!important;
  }
}

@media (min-width:1200px) {
  .hidden-lg {
    display: none!important;
  }
}

#bodyContainer {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* MISC */

.spacer {
  width: 375px;
  background-color: #fff;
  margin: auto;
  height: 5px;
}

.about-spacer {
  width: 375px;
  background-color: #b19e35;
  margin: auto;
  height: 5px;
  margin-bottom: 10px;
}

.photography-spacer {
  width: 375px;
  background-color: #1b8e5e;
  margin: auto;
  height: 5px;
  margin-bottom: 10px;
}

.webdesign-spacer {
  width: 375px;
  background-color: #00789b;
  margin: auto;
  height: 5px;
  margin-bottom: 10px;
}

/* ***** */

/* TEXT */

.section-title-about {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 5.5em;
  color: #fff;
}

.section-title-main {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 4.1em;
  color: #fff;
}

.section-subtitle-about {
  text-align: center;
  font-size: 2.0em;
  color: #000;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

.section-subtitle-main {
  text-align: center;
  font-size: 1.7em;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
}

.section-subtitle-bold {
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  font-weight: 700;
}

#about-me-section {
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
  text-align: center;
  font-size: 1.3em;
}

.section-ask {
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  text-align: center;
  font-size: 2.3em;
}

#about-wrap a {
  width: 85%;
}

#webdesign-container h5 {
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  font-weight: 600;
  text-align: center;
  font-size: 1.7em;
}

#webdesign-container p {
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  font-weight: 300;
  text-align: center;
  font-size: 1.2em;
}

.section-subtitle-misphis {
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  font-weight: 300;
  text-align: center;
}

/* **** */

/* SECTIONS */

#about-wrap {
  background-color: #ffe34e;
  background-image: url("../img/bg/yellow-3.png");
  background-repeat: repeat;
  padding-top: 50px;
}

.photography-wrap {
  background-color: #25cc87;
  background-image: url("../img/bg/green.png");
  background-repeat: repeat;
}

.photography-wrap-top {
  border-bottom: 2px solid #1b8e5e;
}

.photography-wrap-bottom {
  border-top: 2px solid #1b8e5e;
}

#pictures-wrap {
  background-color: #e6e8ea;
  background-image: url("../img/bg/white.png");
}

#webdesign-wrap {
  background-color: #00a0ce;
  background-image: url("../img/bg/blue.png");
  background-repeat: repeat;
}

#misphis-wrap {
  background-color: rgba(0, 0, 0, 0.4);
}

#contact-wrap {
  background-image: url("../img/bg/overlaymap.png");
  background-attachment: relative;
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

#footer-wrap {
  background-color: #2b2b2b;
  background-image: url("../img/bg/black.png");
  background-repeat: repeat;
}

#footer-container h6,
p {
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  font-size: 1.2em;
}

#footer-container a {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2em;
}

#footer-container i {
  font-size: 1.0em;
}

/* *** */

/* CONTACT FORM */

#contact-form textarea {
  resize: vertical;
}

#contact-form label {
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  font-size: 1.3em;
  font-weight: 500;
}

#contact-form button {
  width: 100%;
}

/* BUTTON */

.btn-red {
  color: #ffffff;
  background-color: #DE3A2F;
  border-color: transparent;
  font-weight: 700;
  font-size: 2.4em;
  font-family: 'Source Sans Pro', sans-serif;
}

.btn-red:hover,
.btn-red:focus,
.btn-red:active {
  color: #ffffff;
  background-color: #CB2B20;
  border-color: transparent;
}

.btn-red:active {
  background-image: none;
}

/* HTML5 VIDEO */

#videoTop {
  position: fixed !important;
  bottom: 0px;
  right: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -9998 !important;
  overflow: hidden;
}

#videoBG {
  position: fixed;
  bottom: 0px;
  right: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -9999 !important;
  overflow: hidden;
}

/* VIDEO END */

/* SPACING ISSSUES */

.top-row {
  margin-bottom: 2%;
}

.bottom-row {
  margin-top: 3%;
  margin-bottom: 3%;
}

.bottom-row-misphis {
  margin-bottom: 3%;
}

.contact-row {
  margin-top: 4%;
}

/* SOCIAL BUTTONS */

.social-icons .btn {
  margin-right: 15px;
}

.social-icons {
  padding-top: 10px;
  margin-bottom: 35px;
}

.social-icons .btn.btn-clear {
  border: 1px solid #fff;
}

.social-icons .btn-round {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: inline-block;
  padding: 4px;
}

.social-icons .btn-round i {
  font-size: 50px;
  top: 20px;
  position: relative;
}

.social-icons .btn.btn-clear {
  border: 1px solid #fff;
  color: #fff;
  background: 0;
  background-color: none;
  font-weight: bold;
}

.social-icons .btn.btn-clear:hover {
  background: #fff;
}

.social-icons .btn-twitter:hover {
  color: #2ba9e0;
}

.social-icons .btn-facebook:hover {
  color: #204385;
}

.social-icons .btn-tumblr:hover {
  color: #35465c;
}

.social-icons .btn-instagram {
  padding-left: 7px;
}

.social-icons .btn-instagram:hover {
  color: #bab1a8;
}

.social-icons .btn-vine:hover {
  color: #00b488;
}

.fa-vine:before {
  content: "\e600";
}

/* SOCIAL BUTTONS END */

#picture-div {
  position: relative;
}

#about-photo {
  position: absolute;
  left: 0;
  bottom: 0;
}

.webdesign-point-top {
  margin-top: 15px;
  margin-bottom: 15px;
}

.webdesign-point {
  margin-bottom: 15px;
}

/* centered columns styles */

.row-centered {
  text-align: center;
}

.col-centered {
  display: inline-block;
  float: none;
  /* reset the text-align */
  text-align: left;
  /* inline-block space fix */
  margin-right: -4px;
}

/* MEDIA QUERIES */

@media (max-width:767px) {
  #about-wrap {
    padding-top: 0px;
    padding-bottom: 50px;
  }

  #about-section h1 {
    font-size: 4.0em;
  }

  #about-section h3 {
    font-size: 1.5em;
  }

  #about-section p {
    font-size: 1.1em;
  }

  .section-title-main {
    font-size: 3.2em;
  }

  .section-subtitle-main {
    font-size: 1.4em;
  }

  .section-subtitle-misphis {
    font-size: 1.1em;
  }

  .social-icons .btn-round {
    width: 50px;
    height: 50px;
  }

  .social-icons .btn-round i {
    font-size: 25px;
    top: 10px;
    position: relative;
  }

  .section-ask {
    font-size: 1.7em;
  }
}

@media (min-width:768px) {
  #about-wrap {
    padding-top: 0px;
    padding-bottom: 50px;
  }

  .section-title-main {
    font-size: 4.5em;
  }

  .section-subtitle-main {
    font-size: 1.7em;
  }

  .section-subtitle-misphis {
    font-size: 1.7em;
  }

  .section-ask {
    font-size: 2.3em;
  }
}

@media (min-width:992px) {
  #picture-div {
    min-height: 410px;
  }

  #about-section h1 {
    font-size: 4.6em;
  }

  #about-section h3 {
    font-size: 1.6em;
  }

  #about-section p {
    font-size: 1.2em;
  }

  #about-wrap {
    padding-top: 50px;
    padding-bottom: 0px;
  }

  .section-title-main {
    font-size: 4.5em;
  }

  .section-subtitle-main {
    font-size: 1.7em;
  }

  .section-subtitle-misphis {
    font-size: 1.7em;
  }

  .webdesign-point-top {
    margin-top: 0px;
  }
}

@media (min-width:1200px) {
  #picture-div {
    min-height: 465px;
  }

  #about-section h1 {
    font-size: 5.5em;
  }

  #about-section h3 {
    font-size: 2.0em;
  }

  #about-section p {
    font-size: 1.4em;
  }

  #about-wrap {
    padding-top: 50px;
    padding-bottom: 0px;
  }

  .section-title-main {
    font-size: 4.5em;
  }

  .section-subtitle-main {
    font-size: 1.7em;
  }

  .section-subtitle-misphis {
    font-size: 1.7em;
  }
}

/* Posts */

#posts {
  margin: 30px auto 0;
}

.post {
  margin: 0 0 50px;
  text-align: center;
  width: 280px;
}

.post.cs2 {
  width: 610px;
}

.post img {
  width: 100%;
}

.email-stuff {
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
}

/* Large desktop */

/* Portrait tablet to landscape and desktop */

@media (min-width: 768px) and (max-width: 979px) {
  .container-fluid > #posts .post {
    width: 280px;
  }

  .container-fluid > #posts .post.cs2 {
    width: 610px;
  }
}

/* Landscape phone to portrait tablet */

@media (max-width: 767px) {
  .post,
  .post.cs2 {
    width: 100%;
  }
}

/*!
 *  Font Awesome 4.0.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.0.3');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'),url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'),url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'),url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
  }
}

@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }

  100% {
    -o-transform: rotate(359deg);
  }
}

@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }

  100% {
    -ms-transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

.fa-twitter:before {
  content: "\f099";
}

.fa-facebook:before {
  content: "\f09a";
}

.fa-instagram:before {
  content: "\f16d";
}

.fa-tumblr:before {
  content: "\f173";
}

@keyframes vex-fadein {
  /* line 9, ../sass/_keyframes.sass */
  0% {
    opacity: 0;
  }

  /* line 11, ../sass/_keyframes.sass */
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes vex-fadein {
  /* line 9, ../sass/_keyframes.sass */
  0% {
    opacity: 0;
  }

  /* line 11, ../sass/_keyframes.sass */
  100% {
    opacity: 1;
  }
}

@-moz-keyframes vex-fadein {
  /* line 9, ../sass/_keyframes.sass */
  0% {
    opacity: 0;
  }

  /* line 11, ../sass/_keyframes.sass */
  100% {
    opacity: 1;
  }
}

@-ms-keyframes vex-fadein {
  /* line 9, ../sass/_keyframes.sass */
  0% {
    opacity: 0;
  }

  /* line 11, ../sass/_keyframes.sass */
  100% {
    opacity: 1;
  }
}

@-o-keyframes vex-fadein {
  /* line 9, ../sass/_keyframes.sass */
  0% {
    opacity: 0;
  }

  /* line 11, ../sass/_keyframes.sass */
  100% {
    opacity: 1;
  }
}

@keyframes vex-fadeout {
  /* line 16, ../sass/_keyframes.sass */
  0% {
    opacity: 1;
  }

  /* line 18, ../sass/_keyframes.sass */
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes vex-fadeout {
  /* line 16, ../sass/_keyframes.sass */
  0% {
    opacity: 1;
  }

  /* line 18, ../sass/_keyframes.sass */
  100% {
    opacity: 0;
  }
}

@-moz-keyframes vex-fadeout {
  /* line 16, ../sass/_keyframes.sass */
  0% {
    opacity: 1;
  }

  /* line 18, ../sass/_keyframes.sass */
  100% {
    opacity: 0;
  }
}

@-ms-keyframes vex-fadeout {
  /* line 16, ../sass/_keyframes.sass */
  0% {
    opacity: 1;
  }

  /* line 18, ../sass/_keyframes.sass */
  100% {
    opacity: 0;
  }
}

@-o-keyframes vex-fadeout {
  /* line 16, ../sass/_keyframes.sass */
  0% {
    opacity: 1;
  }

  /* line 18, ../sass/_keyframes.sass */
  100% {
    opacity: 0;
  }
}

@keyframes vex-rotation {
  /* line 127, ../sass/_keyframes.sass */
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  /* line 129, ../sass/_keyframes.sass */
  100% {
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
  }
}

@-webkit-keyframes vex-rotation {
  /* line 127, ../sass/_keyframes.sass */
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  /* line 129, ../sass/_keyframes.sass */
  100% {
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
  }
}

@-moz-keyframes vex-rotation {
  /* line 127, ../sass/_keyframes.sass */
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  /* line 129, ../sass/_keyframes.sass */
  100% {
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
  }
}

@-ms-keyframes vex-rotation {
  /* line 127, ../sass/_keyframes.sass */
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  /* line 129, ../sass/_keyframes.sass */
  100% {
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
  }
}

@-o-keyframes vex-rotation {
  /* line 127, ../sass/_keyframes.sass */
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  /* line 129, ../sass/_keyframes.sass */
  100% {
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
  }
}

/* line 11, ../sass/vex.sass */

.vex,
.vex *,
.vex *:before,
.vex *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14, ../sass/vex.sass */

.vex {
  position: fixed;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 1111;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* line 25, ../sass/vex.sass */

.vex-overlay {
  background: black;
  filter: alpha(opacity=40);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
}

/* line 30, ../sass/vex.sass */

.vex-overlay {
  animation: vex-fadein 0.5s;
  -webkit-animation: vex-fadein 0.5s;
  -moz-animation: vex-fadein 0.5s;
  -ms-animation: vex-fadein 0.5s;
  -o-animation: vex-fadein 0.5s;
  -webkit-backface-visibility: hidden;
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* line 39, ../sass/vex.sass */

/* line 42, ../sass/vex.sass */

.vex-content {
  animation: vex-fadein 0.5s;
  -webkit-animation: vex-fadein 0.5s;
  -moz-animation: vex-fadein 0.5s;
  -ms-animation: vex-fadein 0.5s;
  -o-animation: vex-fadein 0.5s;
  -webkit-backface-visibility: hidden;
  background: white;
}

/* line 46, ../sass/vex.sass */

/* line 49, ../sass/vex.sass */

.vex-close:before {
  font-family: Arial, sans-serif;
  content: "\00D7";
}

/* line 53, ../sass/vex.sass */

/* line 56, ../sass/vex.sass */

/* line 60, ../sass/vex.sass */

/* line 76, ../sass/vex.sass */

@keyframes vex-flyin {
  /* line 25, ../sass/_keyframes.sass */
  0% {
    opacity: 0;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
  }

  /* line 28, ../sass/_keyframes.sass */
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@-webkit-keyframes vex-flyin {
  /* line 25, ../sass/_keyframes.sass */
  0% {
    opacity: 0;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
  }

  /* line 28, ../sass/_keyframes.sass */
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@-moz-keyframes vex-flyin {
  /* line 25, ../sass/_keyframes.sass */
  0% {
    opacity: 0;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
  }

  /* line 28, ../sass/_keyframes.sass */
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@-ms-keyframes vex-flyin {
  /* line 25, ../sass/_keyframes.sass */
  0% {
    opacity: 0;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
  }

  /* line 28, ../sass/_keyframes.sass */
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@-o-keyframes vex-flyin {
  /* line 25, ../sass/_keyframes.sass */
  0% {
    opacity: 0;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
  }

  /* line 28, ../sass/_keyframes.sass */
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@keyframes vex-flyout {
  /* line 34, ../sass/_keyframes.sass */
  0% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }

  /* line 37, ../sass/_keyframes.sass */
  100% {
    opacity: 0;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
  }
}

@-webkit-keyframes vex-flyout {
  /* line 34, ../sass/_keyframes.sass */
  0% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }

  /* line 37, ../sass/_keyframes.sass */
  100% {
    opacity: 0;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
  }
}

@-moz-keyframes vex-flyout {
  /* line 34, ../sass/_keyframes.sass */
  0% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }

  /* line 37, ../sass/_keyframes.sass */
  100% {
    opacity: 0;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
  }
}

@-ms-keyframes vex-flyout {
  /* line 34, ../sass/_keyframes.sass */
  0% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }

  /* line 37, ../sass/_keyframes.sass */
  100% {
    opacity: 0;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
  }
}

@-o-keyframes vex-flyout {
  /* line 34, ../sass/_keyframes.sass */
  0% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }

  /* line 37, ../sass/_keyframes.sass */
  100% {
    opacity: 0;
    transform: translateY(-40px);
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
  }
}

@keyframes vex-pulse {
  /* line 136, ../sass/_keyframes.sass */
  0% {
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    -moz-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }

  /* line 138, ../sass/_keyframes.sass */
  70% {
    -webkit-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
    -moz-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
  }

  /* line 140, ../sass/_keyframes.sass */
  100% {
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    -moz-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }
}

@-webkit-keyframes vex-pulse {
  /* line 136, ../sass/_keyframes.sass */
  0% {
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    -moz-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }

  /* line 138, ../sass/_keyframes.sass */
  70% {
    -webkit-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
    -moz-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
  }

  /* line 140, ../sass/_keyframes.sass */
  100% {
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    -moz-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }
}

@-moz-keyframes vex-pulse {
  /* line 136, ../sass/_keyframes.sass */
  0% {
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    -moz-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }

  /* line 138, ../sass/_keyframes.sass */
  70% {
    -webkit-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
    -moz-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
  }

  /* line 140, ../sass/_keyframes.sass */
  100% {
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    -moz-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }
}

@-ms-keyframes vex-pulse {
  /* line 136, ../sass/_keyframes.sass */
  0% {
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    -moz-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }

  /* line 138, ../sass/_keyframes.sass */
  70% {
    -webkit-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
    -moz-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
  }

  /* line 140, ../sass/_keyframes.sass */
  100% {
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    -moz-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }
}

@-o-keyframes vex-pulse {
  /* line 136, ../sass/_keyframes.sass */
  0% {
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    -moz-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }

  /* line 138, ../sass/_keyframes.sass */
  70% {
    -webkit-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
    -moz-box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 0 0 300px rgba(255, 255, 255, 0.25);
  }

  /* line 140, ../sass/_keyframes.sass */
  100% {
    -webkit-box-shadow: inset 0 0 0 300px transparent;
    -moz-box-shadow: inset 0 0 0 300px transparent;
    box-shadow: inset 0 0 0 300px transparent;
  }
}

/* line 13, ../sass/vex-theme-default.sass */

.vex.vex-theme-default {
  padding-top: 160px;
  padding-bottom: 160px;
}

/* line 17, ../sass/vex-theme-default.sass */

/* line 20, ../sass/vex-theme-default.sass */

.vex.vex-theme-default .vex-content {
  animation: vex-flyin 0.5s;
  -webkit-animation: vex-flyin 0.5s;
  -moz-animation: vex-flyin 0.5s;
  -ms-animation: vex-flyin 0.5s;
  -o-animation: vex-flyin 0.5s;
  -webkit-backface-visibility: hidden;
}

/* line 23, ../sass/vex-theme-default.sass */

.vex.vex-theme-default .vex-content {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  font-family: "Helvetica Neue", sans-serif;
  background: #f0f0f0;
  color: #444444;
  padding: 0em;
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  width: 450px;
  font-size: 1.1em;
  line-height: 1.5em;
}

/* line 36, ../sass/vex-theme-default.sass */

.vex.vex-theme-default .vex-content p {
  color: inherit;
}

/* line 39, ../sass/vex-theme-default.sass */

.vex.vex-theme-default .vex-close {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

/* line 46, ../sass/vex-theme-default.sass */

.vex.vex-theme-default .vex-close:before {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  position: absolute;
  content: "\00D7";
  font-size: 26px;
  font-weight: normal;
  line-height: 31px;
  height: 30px;
  width: 30px;
  text-align: center;
  top: 3px;
  right: 3px;
  color: #bbbbbb;
  background: transparent;
}

/* line 61, ../sass/vex-theme-default.sass */

.vex.vex-theme-default .vex-close:hover:before,
.vex.vex-theme-default .vex-close:active:before {
  color: #777777;
  background: #e0e0e0;
}

/* line 67, ../sass/vex-theme-default.sass */

/* line 70, ../sass/vex-theme-default.sass */

/* line 73, ../sass/vex-theme-default.sass */

/* line 85, ../sass/vex-theme-default.sass */

/* line 89, ../sass/vex-theme-default.sass */

/* line 38, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */

/* line 92, ../sass/vex-theme-default.sass */

/* line 104, ../sass/vex-theme-default.sass */

/* line 107, ../sass/vex-theme-default.sass */

@media (max-width: 568px) {
  /* line 107, ../sass/vex-theme-default.sass */
}

/* line 116, ../sass/vex-theme-default.sass */

/* line 120, ../sass/vex-theme-default.sass */

/* line 124, ../sass/vex-theme-default.sass */
