---
regenerate: true
title: Articles
---
<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Articles - Derick Ruiz</title>
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Description" content="">
        <!-- Do some more research on this tag before you ignorantly put it in your code -->
        <!-- <link rel="canonical" href="{{page.url}}"> -->
        <meta http-equiv="cleartype" content="on">

        {% include typekit-js.html %}
        {% include styles.css.html %}

        {% include analytics.js.html %}

    </head>
    <body class='articles-page' itemscope="itemscope" itemprop="http://schema.org/WebPage">
        <div class='wrapper'>

            {% include intro-h3.html %}

            <main role="main" itemprop="mainContentOfPage" itemscope="itemscope" itemtype="http://schema.org/Blog">
                
                <section class='articles'>
                    <ul class='posts-list'>

                    	{% for post in site.posts %}

	                    	<li class='blog-post clearfix' itemscope="itemscope" itemtype="http://schema.org/BlogPosting">
	                            <a href="{{post.url}}">
	                                <!-- Second most important heading is the name of the articles? -->
	                                <h2 class='hyphenate' itemprop="headline">{{post.title}}</h2>
	                            </a>
	                            <div class='reading-time reading-time--single'>
	                                <meta itemprop="wordCount" content="{{post.content | count_words }}">

	                                {% assign read_time = post.content | reading_time %}

	                                {% if read_time < 10 %}
	                                	<span>{{read_time | prepend: '0'}} min<span class='minute-text'>ute</span> <span class='read-text'>read</span></span>
	                                {% else %}
	                                <span>{{ read_time }} min<span class='minute-text'>ute</span> <span class='read-text'>read</span></span>
	                                {% endif %}
	                            </div>
	                            <time itemprop="datePublished" datetime={{post.date | date: "%Y-%m-%d"}}>

	                              	{% assign post_year = post.date | date: "%Y"  %}
	                              	{% assign this_year = 'now' | date: "%Y" %}

                                    {% if post_year == this_year %}
                                        <span class='month-and-day'>{{post.date | date: '%m.%d' }}</span>
                                    {% else %}
                                        <span class='year'>{{post.date | date: '%Y' }}</span>
                                    {% endif %}
                                </time>
	                        </li>

                    	{% endfor %}

                    </ul><!-- .posts-list -->
                </section>
            </main>

            {% include footer.html %}

        </div>
        {% include typography-js.html %}
    </body>
</html>