---
regenerate: true
meta_description: >
  A collection of projects that I have worked on.
permalink: /works
title: Works
---
<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Work - Derick Ruiz</title>
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Description" content="{{page.meta_description}}">
        <!-- <link rel="canonical" href=""> -->
        <meta http-equiv="cleartype" content="on">

        {% include styles.css.html %}

        {% include analytics.js.html %}

    </head>
    <body class='work-page' itemscope="itemscope" itemprop="http://schema.org/WebPage">
        <div class='wrapper'>

            {% include intro-h3.html %}

        </div>
            <!-- I removed the itemtype of blog from the main tag. What should go in here now? Nothing? -->
            <main role="main" itemprop="mainContentOfPage">
                <section class='work'>
                	<div class='wrapper'>
                    	<h1 class='subtitle hyphenate'>A collection of projects I have worked on.</h1>
                	</div>
                    <ul class='work-items'>
                        {% assign works = site.work | sort: 'index' %}
                    	{% for work_item in works %}
                    	{% assign slug = work_item.url | split: "/" | last %}
                    	<!-- I need a new way to generate that slug now. -->

                        {% case slug %}
                        {% when "volunteer-odyssey" %}
                            {% assign button_color = "yellow" %}
                        {% when "responsive-photography" %}
                            {% assign button_color = "pink" %}
                        {% when "glasses" %}
                            {% assign button_color = "cyan" %}
                        {% endcase %}

	                    	<li class='work-item clearfix {{slug}}' itemscope="itemscope" itemtype="http://schema.org/CreativeWork">
	                    		<div class='wrapper'>
		                    		<div class='content'>
		                    			<!-- I need a filter to break each word -->
		                    			<h2 class='title' itemprop="name">
		                    			    {% assign words = work_item.title | split: " " %}
		                    			    {% for word in words %}
		                    			    	{{word}}
			                    				{% unless forloop.last %}
		                    			    	<br>
		                    			    	{% endunless %}
		                    				{% endfor %}
		                    			</h2>
		                    			<span class='role'>{{work_item.role | array_to_sentence_string }}</span>
		                    			<p class='description hyphenate' itemprop="about">
		                    				{{work_item.description}}
		                    			</p>
		                    			<a href="{{work_item.url}}" class='button button--{{button_color}} read-more-button'>read case study</a>
		                    		</div>
		                    		{% if work_item.devices %}
		                    			<div class='work-example'>
		                    				{% capture device_include_url %}devices-{{slug}}.html{% endcapture %}

		                    				{% include {{device_include_url}} %}
		                    			</div><!-- work-example -->
		                    		{% endif %}
		                    		<a href="{{work_item.url}}" class='button button--{{button_color}}'>Read Case Study</a>
		                    	</div><!-- .wrapper -->
	                    	</li>
                    	{% endfor %}
                    </ul><!-- .work-items -->
                </section><!-- .work -->
            </main>

            <div class='wrapper'>
            	{% include footer.html %}
            </div>

        <!-- </div> -->

        {% include typography-js.html %}
    </body>
</html>