@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin rotate($degrees) {
	-ms-transform: rotate($degrees +deg);
    -webkit-transform: rotate($degrees +deg);
    transform: rotate($degrees +deg);
}

@mixin linear-gradient($startColor, $endColor) {
	background: $startColor;
	background: -moz-linear-gradient(top, $startColor 11%, $endColor 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(11%, $startColor), color-stop(100%, $endColor)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, $startColor 11%,$endColor 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  $startColor 11%,$endColor 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  $startColor 11%,$endColor 100%); /* IE10+ */
	background: linear-gradient(to bottom,  $startColor 11%,$endColor 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#{$startColor}", endColorstr="#{$endColor}",GradientType=0 ); /* IE6-9 */
}

@mixin box-shadow($vertical, $horizontal, $blur, $spread, $color) {
	-webkit-box-shadow: $vertical +px $horizontal +px $blur +px $spread +px $color;
	-moz-box-shadow: $vertical +px $horizontal +px $blur +px $spread +px $color;
	box-shadow: $vertical +px $horizontal +px $blur +px $spread +px $color;
}