@import 'base';
@import 'utilities';

// color and font vars.
$font-family-helvetica: "Helvetica Neue", Helvetica, Arial, "Lucida Granda", sans-serif;
$background-color: #fdfdfd;
$yellow-color: rgb(255, 221, 0);
$yellow-color-darker: #E0C200;

body {
	font-family: $font-family-helvetica;
	background-color: $background-color;
}

.rooms-list,
.button-container {
	padding-left: 15px;
	padding-right: 15px;
}

.button-container {
	clear: both;
}

.room {
	margin: 0.5em 0;

	border-bottom: 2px solid rgb(105, 202, 105); // green to signify it's on to the user.
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;

	background-color: #242424;

	color: #fff;

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.room:first-child .checkbox-container {
	display: none; // hiding the checkbox, because the first room is always on by default.
}

.room .room-details {
	// why does this need to be on both this container and the parent container?
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;

	background-color: rgb(234, 234, 234);

	background-color: #2A2A2A;

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.room .room-details,
.room .room-content {
	padding: 0.5em;
}

.room .room-details > div {
	float: left;
}

.room-number-title > .room-number {
	font-weight: bold;
}

.room-number-title > span {
	font-size: 1.2em;
}

.room.disabled {
	background-color: #f0f0f0;
	border-bottom: 2px solid #CBCBCB;
	color: gray;

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.room.disabled .room-details {
	background-color: #c2c2c2;

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.button {
	border: none;
	background: none;
	outline: none;

	padding: 1em;
	font-size: 1em;
}

.button.button--add {
	color: #193219; // dark shade of green.
	border-bottom: 4px solid #407C40;
	background-color: #69ca69;
}

.button.button--remove {
	color: #4A1414; // dark shade of green.
	border-bottom: 4px solid #AE3232;
	background-color: #E04040;
}

@media screen and (min-width: 560px) { // a little responsive goodness.
	body {
		font-size: 108%;
	}
	.room {
		width: 45%;
		float: left;
		margin-left: 2.5%;
		margin-right: 2.5%;
	}
}

@media screen and (min-width: 930px) {

	body {
		font-size: 115%; // more readable on bigger screens.
	}

	.room {
		width: 30%;
		margin-left: 1.665%;
		margin-right: 1.665%;
	}
}