 <div class='devices'>
    <div class='device iphone responsive-photography' itemprop="workExample">
        <div class='camera center-block'></div>
        <div class='second-camera'></div>
        <div class='speaker center-block'></div>
        <div class='content clearfix'>
            <div class='header section'>
                <div class='logo center-block'></div>
                <div class='spacer center-block'></div>
                <div class='description center-block'></div>
            </div>
            <div class='photos'>
                <figure class='photo vancouver center-block'></figure>
                <figure class='photo sarah center-block'></figure>
                <figure class='photo jessica center-block'></figure>
                <figure class='photo vancouver center-block'></figure>
                <figure class='photo sarah center-block'></figure>
            </div>
        </div><!-- .content -->
    </div><!-- .device -->

    <div class='device ipad responsive-photography' itemprop="workExample">
        <div class='camera center-block'></div>
        <div class='content clearfix'>
            <div class='header section'>
                <div class='logo center-block'></div>
                <div class='spacer center-block'></div>
                <div class='description center-block'></div>
            </div>
            <div class='photos clearfix'>
                <figure class='photo vancouver'></figure>
                <figure class='photo sarah'></figure>
                <figure class='photo jessica'></figure>
                <figure class='photo vancouver'></figure>
                <figure class='photo sarah'></figure>
                <figure class='photo jessica'></figure>
                <figure class='photo vancouver'></figure>
                <figure class='photo sarah'></figure>
                <figure class='photo jessica'></figure>
            </div>
        </div><!-- .content -->
    </div>

    <div class='device browser responsive-photography' itemprop="workExample">
        <div class='menu'></div>
        <div class='buttons'></div>
        <div class='content clearfix'>
            <div class='header section'>
                <div class='logo center-block'></div>
                <div class='spacer center-block'></div>
                <div class='description center-block'></div>
            </div>
            <div class='photos clearfix'>
                <figure class='photo vancouver'></figure>
                <figure class='photo vancouver'></figure>
                <figure class='photo jessica'></figure>
                <figure class='photo vancouver'></figure>
                <figure class='photo sarah'></figure>
                <figure class='photo vancouver'></figure>
                <figure class='photo vancouver'></figure>
                <figure class='photo vancouver'></figure>
                <figure class='photo jessica'></figure>
                <figure class='photo vancouver'></figure>
                <figure class='photo sarah'></figure>
                <figure class='photo jessica'></figure>
            </div>
        </div><!-- .content -->
    </div>
</div>