<div class='devices clearfix'>

    <div class='device iphone volunteer-odyssey' itemprop="workExample">
        <div class='camera center-block'></div>
        <div class='second-camera'></div>
        <div class='speaker center-block'></div>
        <div class='content clearfix'>
            <div class='header section'>
                <div class='logo'></div>
            </div>
            <div class='search section section--blue'></div>
            <div class='navigation navigation--main section'>
                <div class='link'></div>
                <div class='link'></div>
                <div class='link'></div>
            </div>
            <div class='navigation navigation--secondary section section--blue'></div>
            <div class='calendar section'>
                <div class='calendar-month section'>
                    <div class='calendar-month-text'></div>
                </div>
                <div class='calendar-time section section--blue'></div>
                <div class='calendar-entry section'></div>
                <div class='calendar-time section section--blue'></div>
                <div class='calendar-entry section'></div>
                <div class='calendar-time section section--blue'></div>
                <div class='calendar-entry section'></div>
                <div class='calendar-time section section--blue'></div>
            </div>
        </div>
    </div><!-- .device -->

    <div class='device ipad volunteer-odyssey' itemProp="workExample">
        <div class='camera center-block'></div>
        <div class='content clearfix'>
            <div class='header section'>
                <div class='logo'></div>
            </div>
            <div class='section navigation navigation--main'></div>
            <div class='calendar-month section'>
                <table>
                    <tr>
                        <th></th><!-- Sunday -->
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th><!-- Saturday -->
                    </tr>
                    <tr><!-- First week -->
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr><!-- Second week -->
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class='highlight'></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr><!-- Third week -->
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr><!-- Fourth week -->
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class='section footer'></div>
        </div>
    </div><!-- device -->

    <!-- 
    <div class='device macbook volunteer-odyssey' itemProp="workExample">
        <div class='camera center-block'></div>
        <div class='background'>
            <div class='content clearfix'></div>
        </div>
    </div> -->
    <div class='device browser volunteer-odyssey' itemProp="workExample">
        <div class='menu'></div>
        <div class='buttons'></div>
        <div class='content clearfix'>
            <div class='header section'>
                <div class='logo'></div>
            </div>
            <div class='section navigation navigation--main'></div>
            <div class='calendar-month section'>
                <table>
                    <tr>
                        <th></th><!-- Sunday -->
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th><!-- Saturday -->
                    </tr>
                    <tr><!-- First week -->
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr><!-- Second week -->
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class='highlight'></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr><!-- Third week -->
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr><!-- Fourth week -->
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class='section footer'></div>
        </div>
    </div>
</div><!-- container for the devices -->