<div class='devices two-devices'>
    <div class='device iphone glasses-com uber-hilton' itemprop="workExample">
        <div class='camera center-block'></div>
        <div class='second-camera'></div>
        <div class='speaker center-block'></div>
        <div class='content clearfix'>
            <div class='header'>
                <div class='logo'></div>
            </div>
            <div class='hero-image'></div>
            <div class='red-button'></div>
            <div class="explanationContainer"></div>
            <!-- more content if I need it -->
        </div><!-- .content -->
    </div><!-- .device -->

    <div class='device ipad uber-hilton' itemProp="workExample">
        <div class='camera center-block'></div>
        <div class='content clearfix'>
            <div class='header section'>
                <div class='logo'></div>
            </div>

            <div class="circleContainer"></div>
            <div class="explanationContainer"></div>
            <div class="footer"></div>
        </div>
    </div><!-- device -->

</div>