<div class='devices single-device'>
    <div class='device browser hilton-luxury-maps' itemProp="workExample">
        <div class='menu'></div>
        <div class='buttons'></div>
        <div class='content clearfix'>
            <div class='header section'>
                <div class='logo'></div>
            </div>
            <div class="map"></div>
            <div class="navigation">
                <div class="navigation-item"></div>
                <div class="navigation-item"></div>
                <div class="navigation-item"></div>
                <div class="navigation-item"></div>
                <div class="navigation-item"></div>
            </div>
        </div>
    </div>
</div>