<div class='devices single-device'>
    <div class='device iphone glasses-com' itemprop="workExample">
        <div class='camera center-block'></div>
        <div class='second-camera'></div>
        <div class='speaker center-block'></div>
        <div class='content clearfix'>
            <div class='header'>
                <div class='logo'></div>
            </div>
            <div class='hero-image'></div>
            <div class='red-button'></div>
            <div class='brands'>
                <div class='brand'></div>
                <div class='brand'></div>
                <div class='brand'></div>
            </div>
            <div class='mosaic-images section clearfix'>
                <div class='mosaic-image'></div>
                <div class='mosaic-image'></div>
                <div class='mosaic-image'></div>
            </div>
            <div class='featured-glasses'>
                <div class='glasses'></div>
                <div class='glasses'></div>
                <div class='glasses'></div>
            </div>
            <!-- more content if I need it -->
        </div><!-- .content -->
    </div><!-- .device -->
</div>