<footer>
    <div class='email'>
        <a class='link' href="#">{{ site.email }}</a>
    </div>
    <!-- Figure out how to loop through the social_services thing in _confing.yml -->
    <ul class='social-links'>
        <li>
            <a href="#"><i class='icon-twitter'></i> <span class='link service'>Twitter</span></a>
        </li>
        <li><a href="#"><i class='icon-codepen'></i> <span class='link service'>Codepen</span></a></li>
        <li><a href="#"><i class='icon-github'></i> <span class='link service'>Github</span></a></li>
    </ul>
</footer>