<section class='intro clearfix'><!-- Is intro the appropriate name for this section? -->
    <a href="/"><!-- link to home page -->
        <header itemscope itemtype="http://schema.org/Person">
            <h3 class='name' itemprop="name">
                <span itemprop="givenName">
                    Der<span class='loosen'>i</span>ck
                </span>
                <span itemprop="familyName">
                    R<span class='tighten'>u</span>i<span class='trim'>z</span>
                </span>
            </h3>
            <h4 class='title' itemprop="jobTitle">{{site.title}}</h4>
        </header>
    </a>

    {% include navigation.html %}

</section>