article {
	display: block;
	margin: 0 auto;
	max-width: 43.75em; // single width 700px.
}

article > .content {

	text-align: left;
	hyphens: auto;
	text-align: left;
	hyphens: auto;
	-webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
	margin-top: 1.5rem;

	a {
		text-decoration: underline;
	}

	p:first-child {
		hyphens: none;
		text-align: left;
		-webkit-hyphens: none;
		-ms-hyphens: none;
		-moz-hyphens: none;
		margin-bottom: 1.5rem;
	}

	*+* {
		margin-bottom: 1.5rem;
	}
}

h1 {
	font-family: $font-family-serif;
	font-size: 1.5rem;
	line-height: 1.2;
	font-weight: normal;
	word-break: break-word;
	word-wrap: break-word;
	color: $primary-header-color;
}

time {
	display: inline-block;
	margin-top: 0.333rem;
}

header > time:first-of-type {
	// margin-top: 0.25em;
}

time > span,
header > .separator {
	font-family: $font-family-monospace;
	font-size: 1em;
	line-height: 1.5em;
	font-weight: 300;
	color: $post-details-color;
}

h2 {
	font-weight: normal;
	font-size: 1.1rem;
	color: $secondary-header-color;
	padding: 0 0.5em 0 1em;
}

.video-wrapper,
pre {
	margin: 0 auto;
	margin-bottom: 1em;
	display: block;
}

img {
	display: block;
	margin: 0 auto;
}

pre > code {
	font-size: 0.75em; // 12px for the code at smaller screens like iPhone 4.
}

article {

	ul {
		padding-left: 1em;
		list-style-type: square;
	}

	ol {
		padding-left: 3em;
		list-style-type: decimal-leading-zero;
	}

	ul li,
	ol li {
		display: list-item;
		list-style-position: outside;
	}
	
	header,
	p,
	h2 {
		padding: 0 0.5rem 0 1rem;
	}

}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
}

.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media screen and (min-width: 480px) {
	article > .content {
		text-align: justify;
	}
}

@media screen and (min-width: 37.5rem) { // 600px @ 16

	article {
		header,
		p,
		h2 {
			padding: 0 1rem 0 1rem;
		}
	}
}

@media screen and (min-width: 20.125em) { // 322px
	pre > code {
		font-size: 1em;
	}
}

@media screen and (min-width: 38.75em) {
	pre {
		font-size: 16px; // should be the max size for the code.
	}
}