section.intro {
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 0;
}

// styles specific to the home page.

section.work {

	margin-top: 3.375rem;

	.work-item {
		position: relative;
		margin-bottom: 0.5em;
	}
}

.work-items {
	margin-top: 1rem;
}

.work-items > .work-item + .work-item {
	margin-top: 1.5rem;
}

div.what-i-do {

	margin-top: 2.25rem;

	p.description {
		font-weight: 300;
		font-size: 1em;
		line-height: 1.5em;
	}
}

/* Blog posts section */
div.latest-blog-posts {

	margin-top: 1.5rem;

	li.blog-post {
		margin-bottom: 0.3em;
	}

	> span.or {
		display: block;
		text-align: center;
		text-transform: uppercase;
		font-family: $font-family-serif;
		font-size: 0.85em;
		color: $low-key-color;

		margin-top: 1em;
		// margin-bottom: 0.5em;
	}

	li.blog-post > time,
	li.blog-post > a,
	> a {
		font-family: $font-family-serif;
		font-weight: normal;
		text-align: left;
		font-size: 1em;
		line-height: 1.6em;
	}

	li.blog-post > time {
		font-family: $font-family-monospace;
	}

	li.blog-post > time {
		color: $low-key-color;
	}

	> a { // view more link
		display: inline-block;
	}
}

.device.ipad {
	display: none;
}

.device.macbook {
	display: none;
}

.device.browser {
	display: none;
}

.button {
	margin-left: auto;
	margin-right: auto;
}

.work-item::before {
	display: none;
}

@media screen and (min-width: 37.5em) {

	div.what-i-do {
		margin-top: 3.375rem;
	}

	div.latest-blog-posts {
		border-bottom: none;
		border-bottom: 0;
	}

	.work-item {

		&:before {
			display: block;
			float: right;
			font-family: $font-family-monospace;
			font-weight: normal;
			letter-spacing: -3px;
			font-size: 1.5rem;
			position: relative;
			top: 0.125em;
		}

		// TODO: It's okay for now, but should probably update this to a class name.
		h3 {
			border-bottom: 1px solid $header-text-color;
		}

		.devices {
			float: left;
			width: 30%;
		}

		.device {
			margin: 1em auto;
			margin-bottom: 0;
		}

		p.description {
			float: left;
			width: 65%;
			margin-left: 5%;
			margin-top: 1em;
		}

		.button {
			float: left;
			margin-left: 5%;
		}
	}

	.work-item:first-child {

		h3 {
			border-bottom: 3px solid $header-text-color;
		}

	}

}

@media screen and (min-width: 38.75em) {
	a.button {
		padding-top: 0.8em;
	}
}

@media screen and (min-width: 43.75em) { // try and switch out these pixel media queries to ems.

	.work-item {

		.devices {
			width: 40%;
		}

		.device.iphone {
			display: block;
			float: left;

			border: 4px solid $background-color;

			margin-top: 4.55em;
		}

		.device.ipad {
			display: block;
			float: left;

			margin-left: -4.0em;
		}

		.devices.single-device .device.iphone {
			float: none;
			border: none;
			margin: 1em auto;
			margin-bottom: 0;
		}

		p.description {
			width: 52%;
			margin-left: 5%;
		}
	}

}

@media screen and (min-width: 48.4375em) { // time for a readability bump.
	.work-item {

		.devices {
			width: 37%;
		}

		.device.ipad {
			margin-top: 1.36em; // changed the font size, so now gotta bump the margin up as well.
			border: 4px solid $background-color;
		}

		p.description {
			width: 58%;
			margin-left: 5%;
		}

	}
}

//992px
@media screen and (min-width: 62em) {

	section.intro {

		div.what-i-do {
			width: 45%;
			float: left;

			margin-top: 0;
			margin-bottom: 0.5em;
		}

		div.latest-blog-posts {
			width: 50%;
			float: right;

			margin-left: 5%;
			// margin-top: 0.5em;
		}

		div.what-i-do,
		div.latest-blog-posts {
			margin-top: 5.0625rem;
		}
		/* p.description {
			width: 50%;
			float: right;

			margin-left: 5%;
			margin-top: 0.5em;
		} */
	}

	.work-item {

		.devices {
			width: 40%;
		}

		.device.iphone {
			margin-top: 5.7em;
		}

		.devices.two-devices .device.iphone {
			margin-left: 20%;
		}

		.device.ipad {
			margin-top: 2.37em;
		}

		.device.browser {
			display: block;
			float: left;
			margin-left: -6.9em;
		}

		.devices.single-device .device.browser {
			float: none;
			margin-left: auto;
			margin-right: auto;
		}

		p.description {
			width: 50%;
			margin-left: 10%;
		}

		.button {
			margin-left: 10%;
		}
	}
}

@media screen and (min-width: 68.75em) { // I have to change up .wrapper here somehow to make it not stretch anymore.
	.work-item:before {
		margin-right: 3px;
	}
}