.hyphenate {
	text-align:justify;
	hyphens: auto;
	-webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}