/* Colors */
// $background-color: rgb(240, 236, 235);
// $background-color: #fdfdfd;
$background-color: #ffffff;
$background-color-darker: #F4F4F4;

$top-bar-color: #FAF8FB; // The bar / border on the top of the page.

$logo-color: #ffd321; // The color of the shape beside my name in the logo.

$header-text-color: rgb(20, 19, 19);
$yellow-color: rgb(255, 221, 0);
$red-color: rgb(255, 60, 0);
$blue-color: rgb(0, 209, 224);
$purple-color: rgb(108, 73, 204);
// $black-color: #141313;
$black-color: #222;

$body-color: #121013;
$post-details-color: #C7CBD5; // The color of the date, article length, etc. under the headline.

// Colors for headers on blog post style pages.
$primary-header-color: #EA6B00;
$secondary-header-color: #62B4F8;


$low-key-color: #adadad;
$max-article-width: 34rem;

$yellow-color-darker: #E0C200; // used for yellow buttons.
$yellow-color-darker-lighter: #E0CD4D; // used for yellow button hover state.
$yellow-color-lighter: #FFE645; // used for yellow button hover state.
$yellow-color-darkest: #A18C00; // for the role

$lighter-black-color: rgb(64, 64, 64);


$glasses-cyan: #3EBCE0;
$glasses-cyan-darker: #339EBD;
$glasses-cyan-lighter: #44CCF4;

$volunteer-blue-color: #3A60DA;
$volunteer-blue-color-darker: #2B4AAB;
$volunteer-blue-darkest: #1C2E69; // for the role in the volunteer odyssey thing.

$glasses-red: #FF4026;
$glasses-red-darkest: #932415;
$glasses-red-with-opacity: rgba(255, 64, 38, 0.7);

$uber-blue: #1fbad6;
$uber-blue-darker: #106271;
$uber-blue-with-opacity: rgba(21, 21, 37, 0.8);

$hilton-brown: #c09760;
$hilton-brown-with-opacity: rgba(192,151,96, 0.7);
$pink-color: #E2319B;
$pink-color-darker: #AE2276;
$pink-color-lighter: #FF3CB1;

$red-color-with-opacity: rgba(255, 60, 0, 0.7);
$blue-color-with-opacity: rgba(0, 209, 224, 0.7);
$purple-color-with-opacity: rgba(108, 73, 204, 0.7);
$yellow-color-with-opacity: rgba(255, 221, 0, 0.7);

$circle-width: 300px;
$shape-width: 200px;

/* Fonts */
$font-family-serif: "UniversLTPro-45Light", "Helvetica Neue", Helvetica, Arial, "Lucida Granda", sans-serif;
$font-family-monospace: 'HelveticaMonospacedStd-Rg', Menlo, "Courier New", monospace;


