.header {
	text-align: center;
}
.section-header .header h1 {
  margin-bottom: 0px;
  font-family: "Montserrat";
}
.section-header .header h2 {
  margin-top: 0px;
  font-family: "Neuton";
}
.copyright {
	font-family: "Neuton";
	color: #9a9a9a;
	font-weight: 300;
	line-height: 1.5;
	font-size: 16px;
}
.post-description h3 {
	font-family: "Montserrat";
}
.post-description p, .post-description p a {
	font-family: "Neuton";
}