*, *:before, *:after {
	box-sizing: border-box;
}

html {
	font-size: 62.5%; /* for sizing in rems */
}

body {
	font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
	letter-spacing: -0.02em;
	font-weight: 400;
	font-style: normal;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga" on;
	color: rgba(0,0,0,0.8);
	font-size: 18px;
	line-height: 1.4;
}

nav {
	width: 100%;
}

.header-container {
	max-width: 1170px;
	width: 960px;
	margin: 0 auto;
}

h1, h2 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.header-image {
	float: left;
	width: 25%;
}

.header-image img {
	margin-left: 24px;
}

.header-title {
	float: left;
	width: 75%;
	padding-top: 47px;
	padding-left: 27px;
}

header {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

header h1 {
	text-transform: uppercase;
	font-family: "Montserrat";
	font-weight: 700;
	font-size: 7rem;

}

header h2 {
	font-family: "Open Sans";
	/* font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif; */
	font-weight: 400;
	font-size: 2.0rem;
	padding-left: 7px;
	line-height: 0.6;
	color: rgba(0, 0, 0, 0.5);
}

.emphasize {
	display: inline-block;
	position: relative;
}
.emphasize:after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 3px;
	background-color: rgba(0, 0, 0, 0.1);
	content: '';
	opacity: 1;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.spacer {
	height: 8px;
	background-color: rgb(224, 224, 224);
	border-radius: 6px;

	margin-top: -31px;
	margin-left: auto;
	margin-right: auto;
}

.contact-details {
	list-style-type: none;
	float: left;
}

.contact-details li {
	float: left;
	width: 50%;
	text-align: center;
	font-size: 1.4rem;
}

.contact-details li:first-child {
	width: 55%;
}

.contact-details li:last-child {
	width: 45%;
}

.derick-waving-image {
	/* -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH"; */
}

/* helper classes */

.u-clearfix:after {
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}