* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  font-size: 100%;
  /* Some typographic defaults */
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: "kern=0";
  -ms-font-feature-settings: "kern" 0;
  line-height: 1.35em; }

h1,
h2,
h3,
h4,
p,
figure,
ol,
ul {
  margin: 0;
  padding: 0; }

ul {
  list-style-type: none; }

li,
main {
  display: block; }

h1,
h2,
h3,
h4 {
  font-size: inherit; }

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  transition: .3s; }

img {
  max-width: 100%;
  height: auto;
  border: 0; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Granda", sans-serif; }

.wrapper {
  width: 100%; }

header {
  background-color: black;
  height: 48px;
  border-bottom: 1px solid #474747;
  overflow: hidden; }

header div {
  width: 33.333%;
  float: left; }

h1, h2 {
  font-size: 1.2em;
  color: white; }

button {
  outline: none;
  font-size: 0.8em;
  color: white;
  font-weight: bold;
  border: 1px solid #323232;
  border-radius: 4px;
  padding: 0.5em 1em;
  margin-top: 9px;
  margin-left: 10px;
  background: #323232;
  background: -moz-linear-gradient(top, #323232 11%, #070707 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(11%, #323232), color-stop(100%, #070707));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #323232 11%, #070707 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #323232 11%, #070707 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #323232 11%, #070707 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #323232 11%, #070707 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#323232", endColorstr="#070707",GradientType=0 );
  /* IE6-9 */ }

button i.chevron {
  float: left;
  margin-right: 7px;
  margin-top: 1px; }

.logo {
  height: 95px;
  width: 62px;
  background-size: cover;
  background-image: url("../img/HI_mk_logo_hiltonbrandlogo_3.jpg");
  background-position: 90px 1px;
  float: right;
  margin-right: 10px; }

.screen-name h2 {
  margin-top: 13px;
  text-align: center; }

@media screen and (max-width: 351px) {
  h2 {
    font-size: 1em; } }
main {
  background-image: url("../img/background.png");
  background-size: cover;
  padding: 1em; }

img.hotel-image {
  border: 4px solid white;
  -webkit-box-shadow: -4px 4px 16px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px 4px 16px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -4px 4px 16px -1px rgba(0, 0, 0, 0.75); }

p {
  color: #a1bed9;
  font-size: 1em; }

.address {
  margin-bottom: 0.2em; }

.address > span {
  display: block; }

a.telephone-number {
  color: white;
  text-decoration: underline;
  display: inline-block;
  margin-bottom: 1em; }

img.hotel-image {
  margin-bottom: 0.5em; }

.hotel-details > h1 {
  margin-bottom: 0.25em; }

nav li {
  border-top: 1px solid #dadada;
  border-bottom: 1px solid white;
  background: white;
  background: -moz-linear-gradient(top, white 11%, #c0cedb 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(11%, white), color-stop(100%, #c0cedb));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 11%, #c0cedb 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 11%, #c0cedb 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 11%, #c0cedb 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, white 11%, #c0cedb 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="white", endColorstr="#c0cedb",GradientType=0 );
  /* IE6-9 */ }

nav li:first-child {
  border-top: none;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px; }

nav li:last-child {
  border-bottom: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px; }

nav span {
  font-size: 1em;
  font-weight: bold;
  color: #001325; }

nav a {
  width: 100%;
  display: block;
  position: relative;
  padding: 0.8em 1em; }

nav a > i.chevron {
  position: absolute;
  right: 0;
  margin-right: 18px;
  margin-top: 4px; }

/* Chevron */
.chevron:before,
.chevron:after {
  content: " ";
  display: block;
  width: 2px;
  height: 8px;
  background-color: white; }

.chevron.chevron--dark:before,
.chevron.chevron--dark:after {
  background-color: #001325; }

.chevron:before {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.chevron:after {
  -ms-transform: rotate(137deg);
  -webkit-transform: rotate(137deg);
  transform: rotate(137deg);
  margin-top: -3px; }

.chevron.chevron--direction-right {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  transform: scaleX(-1); }

/*# sourceMappingURL=test-1.css.map */
